Control-SPACE: forward-word

# Swallow stray C-x
"\C-x\C-m": "\C-m"
"\C-x\C-p": "\C-p"
"\C-x\C-r": "\C-r"
"\C-x\C-u": "\C-u"
"\C-x ": " "
"\C-xa": "a"
"\C-xb": "b"
"\C-xc": "c"
"\C-xd": "d"
"\C-xe": "e"
"\C-xf": "f"
"\C-xg": "g"
"\C-xh": "h"
"\C-xi": "i"
"\C-xj": "j"
"\C-xk": "k"
"\C-xl": "l"
"\C-xm": "m"
"\C-xn": "n"
"\C-xo": "o"
"\C-xp": "p"
"\C-xq": "q"
"\C-xr": "r"
"\C-xs": "s"
"\C-xt": "t"
"\C-xu": "u"
"\C-xv": "v"
"\C-xw": "w"
"\C-xx": "x"
"\C-xy": "y"
"\C-xz": "z"
